<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> <!-- load jQuery -->
        <script src="js/menu.js"></script>
        <title><%=title%></title>
    </head>
    <body>
        <!-- Start Top Menu -->
        <div class="hidden" id="invisMenu"></div>
        <div class="menuBar">
            <div class="lefty" id="menu-title">
                <a href="/"><img class="main-banner-image" src="/images/ryzone-clear.png"></a>
            </div>
            <div class="righty" >
                    <a href="#" class="topMenuButton" id="mainMenuBtn">Menu</a>
            </div>
        </div>
        <div id="overlay">
            <div class="sideMenu hidden">
                <div class="sidebtn righty">
                    <a href="/downloads" class="menuLink">Downloads</a>
                </div><br>
                <div class="sidebtn righty" >
                    <a href="/services" class="menuLink">Services</a>
                </div><br>
                <div class="sidebtn righty">
                    <a href="/contact" class="menuLink">Contact</a>
                </div>
            </div>
        </div>
        <!-- End Top Menu -->
        <div class="lb short" id="firstBlock">
            <div class="contBlock contactBackdrop bar-tile">
            <h1>Register a new Administrator</h1>
        </div></div>
        <div class="lb">
            <div class="contBlock contactBackdrop">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                </form>
            </div>
        </div>

        <div class="db" id="footer">
            <div class="footer-div" id="footer-1"><a class="footer-link" href="/services/web">Website Services</a><ul><li><a class="footer-link" href="/services/web#SPA">Single Page Applications</a></li><li><a class="footer-link" href="/services/web#BWP">Basic Web Presence</a></li><li><a class="footer-link" href="/services/web#Dynamic">Dynamic Website</li><li><a class="footer-link" href="/services/web#FSA">Full-Stack Applications and APIs</a></li><li><a class="footer-link" href="/services/web#SEO">Search Engine Optimization (SEO)</a></li></ul></div>
            <div class="footer-div" id="footer-2"><a class="footer-link" href="/services/security">Security Services</a><ul><li><a class="footer-link" href="/services/security#pentest">Penetration Testing</a></li><li><a class="footer-link" href="/services/security#malwrm">Malware/Spyware/Virus Removal</a></li><li><a class="footer-link" href="/services/security#SLD">Secure LockDown</a></li></ul></div>
            <div class="footer-div" id="footer-3">More Information<ul><li><a href="/about" class="footer-link">About Us</a></li><li><a href="/contact" class="footer-link">Contact</a></li></ul></div>
            <div id="footer-4">© 2018 - Present Ryzone Enterprises, All Rights Reserved.</div>
        </div>
    </body>
</html>
