<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> <!-- load jQuery -->
        <script src="/js/menu.js"></script>
        <title><%=title%></title>
    </head>
    <body>
        <!-- Start Top Menu -->
        <div class="hidden" id="invisMenu"></div>
        <div class="menuBar">
            <div class="lefty" id="menu-title">
                <a href="/"><img class="main-banner-image" src="/images/ryzone-clear.png"></a>
            </div>
            <div class="righty" >
                    <a href="#" class="topMenuButton" id="mainMenuBtn">Menu</a>
            </div>
        </div>
        <div id="overlay">
            <div class="sideMenu hidden">
                <div class="sidebtn righty">
                    <a href="/downloads" class="menuLink">Downloads</a>
                </div><br>
                <div class="sidebtn righty" >
                    <a href="/services" class="menuLink">Services</a>
                </div><br>
                <div class="sidebtn righty">
                    <a href="/contact" class="menuLink">Contact</a>
                </div>
            </div>
        </div>
        <!-- End Top Menu -->

        <div class="lb short" id="firstBlock">
            <div class="contBlock contactBackdrop bar-tile">
            <h1>Security Services</h1>
            <div>Ryzone employs experienced offensive security specialists to leverage their experience in dealing with hostile agents and digital attacks to help protect your businesses. Whether you've been victim to an attack, or are being smart and proactive, we can help.</div>
        </div></div>
        <div class="lb">
            <div class="contBlock contactBackdrop">
            <div><div class="lefty servBlock" id="pentest"><h2>Penetration Testing</h2><br><img src="/images/sec-stock-1.jpg" class="block-image"></div><div class="righty servBlock"><div class="package">Penetration Testing for your business. We simulate a targeted attack by experienced hackers with the goals of finding each and every possible point of failure. Then, we shut them down, and keep the bad guys out.<ul><li>Be proactive in protecting your business and assets!</li><li>Carefully planned and negotiated engagements allow our experts to work without disrupting your business</li><li>Stay compliant with PCI DSS standards!</li><li>Find and close security holes and vulnerabilities before they become a problem!</li></ul> Interested? <a class="tile-link" href="/services/web/basic">Schedule a consultation today.</a></div><br></div></div><hr>
            <div><div class="lefty servBlock" id="malwrm"><h2>Malware Removal</h2><br><img src="/images/sec-stock-4.jpg" class="block-image"></div><div class="righty servBlock"><div class="package">Hackers and Malware are responsible for <a href="https://www.usnews.com/news/articles/2014/06/09/study-hackers-cost-more-than-445-billion-annually" class="tile-link">over $375,000,000,000</a> in losses to businesses worldwide, every year. If you think (or know) you've been infected with malware, there's no time to waste! You can have our security experts audit your machines, identify and remove the malware. <ul><li>We work with your business to audit every computer you have</li><li>Our experts know all of the red flags and tricks that hackers use to hide--as well as how to identify and eradicate them!</li><li>We'll get rid of the software- we guarantee it!</li></ul> <a class="tile-link" href="/services/web/basic">Reclaim your business today!</a></div><br></div></div><hr>
            <div><div class="lefty servBlock" id="SLD"><h2>Secure LockDown</h2><br><img src="/images/sec-stock-3.jpg" class="block-image"></div><div class="righty servBlock"><div class="package">The best investment you can make to protect your business! We'll assign you an expert to audit every aspect of your business that impacts how protected you are in the digital age. We'll explain to you exactly what we find, and do it in plain english. <ul><li>Full analysis of every machine in your business</li><li>We don't tell you what to do; instead, we'll show you why each security threat we find exists, what the options are, and our recommendation, in order to educate and empower you to make the best decisions for your business.</li><li>You'll receive a detailed report of our findings, and ultimately the actions taken.</li><li>We do what we can remotely, but no Secure LockDown is complete without our experts visiting your physical premises. We leave no stone unturned.</li></ul> <a class="tile-link" href="/contact">Get a quote today!</a></div><br></div></div>
        </div></div>
        <div class="db" id="footer">
            <div class="footer-div" id="footer-1"><a class="footer-link" href="/services/web">Website Services</a><ul><li><a class="footer-link" href="/services/web#SPA">Single Page Applications</a></li><li><a class="footer-link" href="/services/web#BWP">Basic Web Presence</a></li><li><a class="footer-link" href="/services/web#Dynamic">Dynamic Website</li><li><a class="footer-link" href="/services/web#FSA">Full-Stack Applications and APIs</a></li><li><a class="footer-link" href="/services/web#SEO">Search Engine Optimization (SEO)</a></li></ul></div>
            <div class="footer-div" id="footer-2"><a class="footer-link" href="/services/security">Security Services</a><ul><li><a class="footer-link" href="/services/security#pentest">Penetration Testing</a></li><li><a class="footer-link" href="/services/security#malwrm">Malware/Spyware/Virus Removal</a></li><li><a class="footer-link" href="/services/security#SLD">Secure LockDown</a></li></ul></div>
            <div class="footer-div" id="footer-3">More Information<ul><li><a href="/about" class="footer-link">About Us</a></li><li><a href="/contact" class="footer-link">Contact</a></li></ul></div>
            <div id="footer-4">© 2018 - Present Ryzone Enterprises, All Rights Reserved.</div>
        </div>
    </body>
</html>
