<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> <!-- load jQuery -->
        <script src="js/menu.js"></script>
        <title><%=title%></title>
    </head>
    <body>

        <!-- Start Top Menu -->
        <div class="hidden" id="invisMenu"></div>
        <div class="menuBar">
            <div class="lefty" id="menu-title">
                <a href="/"><img class="main-banner-image" src="/images/ryzone-clear.png"></a>
            </div>
            <div class="righty" >
                    <a href="#" class="topMenuButton" id="mainMenuBtn">Menu</a>
            </div>
        </div>
        <div id="overlay">
            <div class="sideMenu hidden">
                <div class="sidebtn righty">
                    <a href="/downloads" class="menuLink">Downloads</a>
                </div><br>
                <div class="sidebtn righty" >
                    <a href="/services" class="menuLink">Services</a>
                </div><br>
                <div class="sidebtn righty">
                    <a href="/contact" class="menuLink">Contact</a>
                </div>
            </div>
        </div>
        <!-- End Top Menu -->

        <div class="lb short" id="firstBlock">
            <div class="bar-tile">
                <h1>Our Services</h1>
                <div>Ryzone offers a variety of products and services to fit your needs. Below you can find an overview of what we offer, as well as more information on specific packages that we offer. </div>
            </div>
        </div>
        <div class="lb">
            <div class="displayBlock contactBackdrop menuButton" id="service-0">Website and Server Development<br /><img src="/images/website-stock.jpg" class="block-image"><br /><span>Whether you just need a simple webpage or a ful-stack application with a custom built server, we're ready. <a class="tile-link" href="/services/web">Check out our options.</a></span></div>
            <div class="displayBlock contactBackdrop menuButton" id="service-1">Security Services<br /><img src="/images/infosec-stock.jpg" class="block-image"><br /><span>Need a security consultation? Looking to get rid of malware? We've got you covered. <a class="tile-link" href="/services/security">Learn More.</a></span></div>
            <div class="displayBlock contactBackdrop menuButton" id="service-3">Free Tools<br /><img src="/images/toolbox-stock.jpg" class="block-image"><br /><span>Looking for the tools our security and development team use on engagements? <a class="tile-link" href="/downloads">Check out our downloads.</a></span></div>
            <div class="displayBlock contactBackdrop menuButton" id="service-2">Consultations<br><img src="/images/business-stock.jpg" class="block-image"><br /><span>There is no need to learn how to navigate the modern tech world the hard way. Let our expertise be your most valuable asset! <a class="tile-link" href="/contact">Contact us today.</a></span></div>
            <div class="displayBlock contactBackdrop menuButton" id="service-4">Contact<br><img src="/images/adult-business-businessman-1061588.jpg" class="block-image"><br /><span> Ready to get started? <a class="tile-link" href="/contact">Contact Us Today!</a></span></div>
        </div>
        <div class="db" id="footer">
            <div class="footer-div" id="footer-1"><a class="footer-link" href="/services/web">Website Services</a><ul><li><a class="footer-link" href="/services/web#SPA">Single Page Applications</a></li><li><a class="footer-link" href="/services/web#BWP">Basic Web Presence</a></li><li><a class="footer-link" href="/services/web#Dynamic">Dynamic Website</li><li><a class="footer-link" href="/services/web#FSA">Full-Stack Applications and APIs</a></li><li><a class="footer-link" href="/services/web#SEO">Search Engine Optimization (SEO)</a></li></ul></div>
            <div class="footer-div" id="footer-2"><a class="footer-link" href="/services/security">Security Services</a><ul><li><a class="footer-link" href="/services/security#pentest">Penetration Testing</a></li><li><a class="footer-link" href="/services/security#malwrm">Malware/Spyware/Virus Removal</a></li><li><a class="footer-link" href="/services/security#SLD">Secure LockDown</a></li></ul></div>
            <div class="footer-div" id="footer-3">More Information<ul><li><a href="/about" class="footer-link">About Us</a></li><li><a href="/contact" class="footer-link">Contact</a></li></ul></div>
            <div id="footer-4">© 2018 - Present Ryzone Enterprises, All Rights Reserved.</div>
        </div>
    </body>
</html>
