<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> <!-- load jQuery -->
        <script src="/js/menu.js"></script>
        <title><%=title%></title>
    </head>
    <body>
        <!-- Start Top Menu -->
        <div class="hidden" id="invisMenu"></div>
        <div class="menuBar">
            <div class="lefty" id="menu-title">
                <a href="/"><img class="main-banner-image" src="/images/ryzone-clear.png"></a>
            </div>
            <div class="righty" >
                    <a href="#" class="topMenuButton" id="mainMenuBtn">Menu</a>
            </div>
        </div>
        <div id="overlay">
            <div class="sideMenu hidden">
                <div class="sidebtn righty">
                    <a href="/downloads" class="menuLink">Downloads</a>
                </div><br>
                <div class="sidebtn righty" >
                    <a href="/services" class="menuLink">Services</a>
                </div><br>
                <div class="sidebtn righty">
                    <a href="/contact" class="menuLink">Contact</a>
                </div>
            </div>
        </div>
        <!-- End Top Menu -->

        <div class="lb short" id="firstBlock">
            <div class="contBlock contactBackdrop bar-tile">
            <h1>Web Services Packages</h1>
            <div>Here we have listed the website and web services packages that we offer.  </div>
        </div></div>
        <div class="lb">
            <div class="contBlock contactBackdrop">
            <div><div class="lefty servBlock" id="SPA"><h2 class="no-marg">Single Page Application</h2><br><img src="/images/web-stock-1.jpg" class="block-image"></div><div class="righty servBlock"><div class="package">A perfect budget option for those whose business needs a simple all-in-one webpage.<ul><li>Mobile Friendly</li><li>Single Page with everything you need all in one spot!</li><li>Low Maintenance</li></ul> An example of what we include in a single page application can be seen at our <a href="/" class="tile-link">home page.</a> Contact us for pricing information. <a class="tile-link" href="/services/web/basic">Get online today!</a></div><br></div></div><hr>
            <div><div class="lefty servBlock" id="BWP"><h2 class="no-marg">Basic Web Presence Package</h2><br><img src="/images/web-stock-2.jpg" class="block-image"></div><div class="righty servBlock"><div class="package">This is the best option for most small businesses with a brick-and-mortar location. <ul><li>Front-end, Customer Facing Website</li><li>Mobile Friendly</li><li>Comes with up to 10 customized pages in the standard package--more are available!</li></ul> This website is an example of what the Basic Web Presence Package can get you.  <a class="tile-link" href="/services/web/basic">Get started today!</a></div><br></div></div><hr>
            <div><div class="lefty servBlock" id="Dynamic"><h2 class="no-marg">Dynamic Website Package</h2><br><img src="/images/web-stock-3.jpg" class="block-image"></div><div class="righty servBlock"><div class="package">For those who need a more robust website, where they will be uploading and adding content regularly. Perfect for custom websites that include a blog! Package Includes:<ul><li>Front-end, Customer Facing Website</li><li>Mobile Friendly</li><li>Custom Server build just for your application!</li><li>Customized control panel to allow you to control the content published</li><li>MongoDB Database</li></ul><a class="tile-link" href="/contact">Get a quote today!</a></div><br></div></div><hr>
            <div><div class="lefty servBlock" id="FSA"><h2 class="no-marg">Full-Stack Web Application Package</h2><br><img src="/images/web-stock-4.jpg" class="block-image"></div><div class="righty servBlock"><div class="package">Ryzone offers full-stack web applications. This is for your more complex web-hosted services, as well as any website or service you want to extend to mobile platforms. Comes with:<ul><li>Front-end, Customer Facing Website</li><li>Mobile Friendly</li><li>Custom Server build just for your application!</li><li>Customized control panel to allow you to control the content published</li><li>MongoDB Database</li><li>A fully functional application, capable of whatever you want to do!</li><li>A custom API, including documentation. Make it easy to expand to all other platforms! </li></ul><a class="tile-link" href="/contact">Contact us to get started!</a></div><br></div></div><hr>
            <div><div class="lefty servBlock"><h2 class="no-marg">Search Engine Optimization</h2><br><img src="/images/web-stock-5.jpg" class="block-image"></div><div class="righty servBlock"><div class="package">Get better results with your website! Whether you want us to build you a new one, or if you need to get your existing site out there, we're here to help! <a class="tile-link" href="/contact">Tell us what you need.</a></div><br></div></div>
        </div></div>
        <div class="db" id="footer">
            <div class="footer-div" id="footer-1"><a class="footer-link" href="/services/web">Website Services</a><ul><li><a class="footer-link" href="/services/web#SPA">Single Page Applications</a></li><li><a class="footer-link" href="/services/web#BWP">Basic Web Presence</a></li><li><a class="footer-link" href="/services/web#Dynamic">Dynamic Website</li><li><a class="footer-link" href="/services/web#FSA">Full-Stack Applications and APIs</a></li><li><a class="footer-link" href="/services/web#SEO">Search Engine Optimization (SEO)</a></li></ul></div>
            <div class="footer-div" id="footer-2"><a class="footer-link" href="/services/security">Security Services</a><ul><li><a class="footer-link" href="/services/security#pentest">Penetration Testing</a></li><li><a class="footer-link" href="/services/security#malwrm">Malware/Spyware/Virus Removal</a></li><li><a class="footer-link" href="/services/security#SLD">Secure LockDown</a></li></ul></div>
            <div class="footer-div" id="footer-3">More Information<ul><li><a href="/about" class="footer-link">About Us</a></li><li><a href="/contact" class="footer-link">Contact</a></li></ul></div>
            <div id="footer-4">© 2018 - Present Ryzone Enterprises, All Rights Reserved.</div>
        </div>
    </body>
</html>
